html, body{
	width: 100%;
	height: 100%;
	background: url("../images/bgmetro1.png");
}

/*have to put hover in all boxes*/
div {
	position: relative;
	float: left;
	margin: 5px;
}
p {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
	margin-left: 10px;

	color: #FFF;
	font-family: "arial";
	text-align: left;
}
img{
	margin-bottom: auto;
	margin-left: auto;
	width: 100px;

	position: absolute;
	top: 50%;
	right: 50%;
	margin-top:-60px;
	margin-right:-50px;
}

#fish{
	background: url("../images/windows-8-fish.jpg") center no-repeat;
	background-size: 300px 145px;
	max-width: 300px;
	height: auto;
	width: 100%;
}

.left{
	display: block;
	float: left;
	width: 785px;
	height: 630px;
}
.Pirates{
	background: #1c1c1c; 
	width: 300px;
	height: 300px;
}
.Amazon{
	background: #ffc40d; 
	width: 145px;
	height: 300px;
}
.Maps{
	background: #603cba;
	width: 145px;
	height: 145px;
}
.Internet_Explorer{
	width: 145px;
	height: 145px;
}
.IE1{
	background: #c2225f;
}
.Weather{
	background: #2d89f0;
	width: 300px;
	height: 145px;
}
.Libraries{
	background: #d44a26;
	width: 145px;
	height: 145px;
}
.Calendar{
	background: #01a31c;
	width: 300px;
	height: 145px;
}
.Desktop{
	background: url("../images/windows-8-fish.jpg") center no-repeat;
	background-size: 300px 145px;
	width: 300px;
	height: 145px;
}
.IE2{
	background: #c3325f;
}
.IE3{
	background: #2d89f0;
}
.IE4{
	background: #1c1c1c;
}
.IE5{
	background: #ffc40d;
}
.IE6{
	background: #d44a26;
}
.right{
	display: block;
	float: right;
	width: 785px;
	height: 630px;
}
.MyComputer {
	background: #ffc40d;
	width: 145px;
	height: 145px;
}
.Wifi {
	background: #005200;
	width: 145px;
	height: 145px;
}
.ControlPanel {
	background: #bc1c48;
	width: 145px;
	height: 145px;
}
.Bluetooth {
	background: #0064cd;
	width: 145px;
	height: 145px;
}
.SkyDrive {
	background: #2d89f0;
	width: 300px;
	height: 145px;
}
.Blank {
	background: #d44a26;
	width: 145px;
	height: 145px;
}
.Remote {
	background: #d44a26;
	width: 145px;
	height: 145px;
}
.Android {
	background: #2d89f0;
	width: 145px;
	height: 145px;
}
.Music {
	background: #603cba;
	width: 455px;
	height: 145px;
}