@import url(https://fonts.googleapis.com/css?family=Signika);
/*
*{
		border: 1px solid green;
		border-size: box-border;
}
*/
html, body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}
div.container{
	position: relative;
	display: block;
	width: 1200px;
	height: 800px;
	margin: 20px auto;
	font-family: 'Signika', sans-serif;
	background-color: #fff;
}

/*###################### NAV ######################*/
nav{
	width: 100%;
	height: 8%;
	box-shadow:0 0 20px #000;
	margin: 0;
}
nav h3{
	float: left;
	color: green;
	padding-left: 50px;
}
nav ul{
	margin-right: 100px;
	float: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-top: 1%;
}
nav ul a{
	color: gray;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
}
nav ul a:hover{
	color: green;
}

/*###################### HEADER ######################*/
header{
	width: 100%;
	height: 40%;
	text-align: center;
	text-transform: uppercase;
	background: url("images/header.jpg") center center no-repeat;
	margin: 0;
	color: #fff;
	text-shadow: 0 0 5px #000;
}
header h1{
	padding: 50px 0 0 0;
	margin: 0;
}
header p{
	background-color: green;
	float: center;
	width: 10%;
	padding: 10px;
	margin: 0 auto;
}


/*###################### SECTION ######################*/
section{
	width: 100%;
	height: 52%;
	display: inline-block;
	padding: 5%;
	box-sizing: border-box;
}
/*----------------- article -----------------*/
section article{
	width: 49%;
	margin: 0;
	float: left;
	padding: auto 2%;
	box-sizing: border-box;
}
section article h2{
	color: green;
}
section article h3{
	color: gray;
}
section article p{
	color: gray;
	text-align: justify;
}
section article p a{
	text-decoration: none;
	color: blue;
}
section article p a span.green{
	color: green;
	font-weight: bold;
}
section article p a span.orange{
	color: orange;
}

/*----------------- aside -----------------*/
section aside{
	width: 49%;
	margin: 0;
	float: right;
	padding: auto 2%;
	box-sizing: border-box;
}
section aside p{
	color: gray;
	font-size: 20px;
	font-weight: bold;
}
section aside img{
	display: inline-block;
	float: center;
	width: 230px;
	margin: 0 4px 4px 0; 
}



