* {
	/*border: 1px solid red !important;*/
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Tahoma", "Arial", sans-serif;
}
.container {
	max-width: 1200px;
}
