html{
	width: 100%;
	height: 100%;
}

body{
	/*width: 785px;
	height: 630px;*/
	width: 100%;
	height: 100%;
	background: url("images/bgmetro1.png");
}
/*have to put hover in all boxes*/

p{
	color: #ffffff;
	font-family: "arial";
	text-align: center;
}

img{
	margin-bottom: auto;
	margin-left: auto;
	width: 100px;
}

#fish{
	width: 300px;
	height: 145px;
}

div{
	float: left;
	margin: 5px;
}

.left{
	display: block;
	float: left;
	width: 830px;
	height:	655px;
}
	.Pirates{
		background: #1c1c1c; 
		width: 300px;
		height: 300px;
	}
	.Amazon{
		background: #ffc40d; 
		width: 145px;
		height: 300px;
	}
	.div1{
		display: block;
		float: right;
		width: 350px;
		height:	320px;
	}
		.Maps{
			background: #603cba;
			width: 145px;
			height: 145px;
		}
		.Internet_Explorer{
			width: 145px;
			height: 145px;
		}
		#IE1{
			background: #c2225f;
		}
		.Weather{
			background: #2d89f0;
			width: 300px;
			height: 145px;
		}
	.div2{
		display: block;
		float: none;
		width: 165px;
		height:	320px;
	}
		.Libraries{
			background: #d44a26;
			width: 145px;
			height: 145px;
		}
		#IE2{
			background: #c3325f;
		}
	.div3{
		display: block;
		float: none;
		width: 320px;
		height:	320px;
	}
		.Calendar{
			background: #01a31c;
			width: 300px;
			height: 145px;
		}
		#IE3{
			background: #2d89f0;
		}
		#IE4{
			background: #1c1c1c;
		}
	.div4{
		display: block;
		float: none;
		width: 320px;
		height:	320px;
	}
		.Desktop{
			background: url("images/windows-8-fish.jpg") center no-repeat;
			max-width: 300px;
			max-height: 145px;
		}
		#IE5{
			background: #ffc40d;
		}
		#IE6{
			background: #d44a26;
		}