
html, body{
	padding: 0;
	margin: 0;
}
body{
	width: 1200px;
	height: 600px;
	margin: 30px auto;
}

div.container{
	position: relative;
	width: 100%;
	height: 100%;
	background: url("images/bg.jpg") center no-repeat;
	font-family: arial;
}

/*############# HEADER #############*/
header{
	position: absolute;
	left: 0;
	width: 40%;
	height: 20%;
	background-color: #000;
	padding: 10px 50px;
	box-sizing: border-box;
}
header h1{
	color: gray;
	margin-bottom: 0;
}
header h6{
	color: #fff;
	margin-top: 0;
}

/*############# NAV #############*/
nav{
	float: right;
	width: 60%;
	height: 20%;
	background-color: #000;
	padding-top: 30px;
	box-sizing: border-box;
}
nav ul{
	margin-top: 20px;
	font-size: 0;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	border-left: 1px solid #fff;
	padding: 20px 40px;
	box-sizing: border-box;
}
nav ul li a:hover{
	color: yellow;
}

/*############# SECTION #############*/
section{
	position: absolute;
	width: 80%;
	height: 50%;
	margin: 16% 10%;
	background-color: rgba(0, 0, 0, 0.7);

	padding: 20px;
	box-sizing: border-box;
}
section img{
	width: 300px;
	float: left;
	margin: 30px;
	box-shadow: 0 0 0 2px gray;
}
section article{
	float: right;
	width: 50%;
	margin: 0;
	padding: 20px;
	border-left: 1px solid gray;
	text-align: justify;
	box-sizing: border-box;
}
section article h2{
	color: gold;
	margin: 0;
}
section article h4{
	color: #fff;
}
section article p{
	color: #fff;
}

/*############# FOOTER #############*/
footer{
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 5%;
	margin: 0;

	color: #fff;
	font-size: 12px;		
}
footer p{
	float: left;
	width: 40%;
	margin: 7px 0 7px 20px;
}
footer a.wix{
	color: #fff;
}
footer ul{
	float: right;
	width: 49%;
	margin: 5px;
	padding-left: 350px;
	box-sizing: border-box;
}
footer ul li{
	display: inline-block;
}
footer ul li img{
	width: 20px;
	margin-right: 10px;
}
