/* Portrait and Landscape */
@media only screen 
and (min-device-width: 600px) 
and (max-device-width: 800px) 
and (-webkit-min-device-pixel-ratio: 2) {

	#container, div.bg{
		width: 100%;
		margin: 0;
		padding: 5px;
	}

	header{
		width: 100%;
		height: 110px;
		margin-bottom: 20px;
	}
	header img, header a#logo{
		position: absolute;
		float: none;
		display: block;
		top: 0;
		left: 30%;
	}
	header nav{
		position: absolute;
		float: none;
		display: inline-block;		
		bottom: 0;
		left: 15%;
		margin-top: 30px;
	}


	#intro{
		position: relative;
		display: block;
		float: none;
		width: 100%;
		height: 30%;
	}
	section h1{
		font-size: 35px;
		top: 0;
		width: 95%;
		margin: 5px;
	}
	section h1 span{
		font-size: 15px;
	}
	section h2{
		bottom: 0;
		width: 95%;
		text-align: justify;
		margin: 5px;
	}


	section.group1{
		position: relative;
		display: block;
		left: 0;
		width: 95%;
		margin-bottom: 10px;
		height: 250px;
		padding: 10px;
	}
	section.group1 h3{
		position: relative;
		display: block;
		top: 0;
		font-size: 25px;
		margin-bottom: 0;
	}
	section.group1 img{
		position: absolute;
		display: block;
		left: 0;
		margin-top: 0;
	}
	section.group1 p{
		position: absolute;
		display: block;
		margin: 20px 5px 0 280px;
	}
	section.group1 span.button{
		position: absolute;
		display: block;
		right: 10px;
		bottom: 20%;
	}


	section.group2{
		position: relative;
		display: block;
		left: 0;
		width: 95%;
		margin-bottom: 10px;
		height: 250px;
		padding: 10px;
	}
	section.group2 h3{
		position: relative;
		display: block;
		top: 0;
		font-size: 25px;
		margin-bottom: 0;
	}
	section.group2 img{
		position: absolute;
		display: block;
		left: 0;
		margin-top: 0;
	}
	section.group2 p{
		position: absolute;
		display: block;
		margin: 20px 5px 0 280px;
	}
	section.group2 span.button{
		position: absolute;
		display: block;
		right: 10px;
		bottom: 20%;
	}


	section.group3{
		position: relative;
		display: block;
		left: 0;
		width: 95%;
		margin-bottom: 10px;
		height: 250px;
		padding: 10px;
	}
	section.group3 h3{
		position: relative;
		display: block;
		top: 0;
		font-size: 25px;
		margin-bottom: 0;
	}
	section.group3 img{
		position: absolute;
		display: block;
		left: 0;
		margin-top: 0;
	}
	section.group3 p{
		position: absolute;
		display: block;
		margin: 20px 5px 0 280px;
	}
	section.group3 span.button{
		position: absolute;
		display: block;
		right: 10px;
		bottom: 20%;
	}


	section.group4{
		position: relative;
		display: block;
		float: none;
		left: 0;
		width: 95%;
		margin-bottom: 10px;
		height: 250px;
		padding: 10px;
	}


	
} 

